header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.color-overlay {
    max-width: 750px;
    background-color: rgba(0,0,0,.75);
}